header {
  background: white;
  padding: 0;
  border-bottom: 1px solid #41038c;

  a {
    color: #41038c;

    &:hover {
      background: #b091ea;
      color: white;
    }
  }

  .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .logo {
      font-weight: bold;
      padding: 1em;
    }

    nav ul {
      list-style-type: none;
      margin: 0;

      li a {
        padding: 1em;
        display: inline-block;
      }
    }
  }
}
