header {
  background: black;
  padding: 0;
  border-bottom: 1px solid white;

  a {
    color: white;

    &:hover {
      background: #b091ea;
      color: white;
      border-radius: 8px;
    }
  }

  .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .wrapper {
      list-style: none;
      padding: 0;
      margin: 0;
      flex-direction: row;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .logo {
      font-weight: bold;
      padding: 1em;
    }

    nav ul {
      list-style-type: none;
      

      li a {
        padding: 1em;
        display: inline-block;
        
      }
    }
  }
}
