<footer class="footer">
  <div class="footerFirst">
    <div class="name">DentalVista © 2024</div>
    <div class="page-links">
      <a href="#" routerLink="home" class="logo">Perfumes </a>
      <a href="#" routerLink="about" class="logo">About </a>
      <a href="#" routerLink="home" class="logo">Info & Contact </a>
    </div>
  </div>
  <div class="bottom-links">
    <div class="location">
      LOCATION
      <br />
      20 Street Northway
      <br />
      Craiova, Dolj - Romania
    </div>

  </div>
</footer>
