<footer class="footer">
  <div class="footerFirst">
    <div class="name">Orientalys © 2025</div>
    <div class="page-links">
      <a href="#" routerLink="home" class="logo">Perfumes </a>
      <a href="#" routerLink="about" class="logo">About </a>
      <a href="#" routerLink="contact" class="logo">Info & Contact </a>
    </div>
  </div>
  <div class="bottom-links">
    <div class="location">
      LOCATION
      <br />
      20 Street Northway
      <br />
      New York, USA
    </div>

  </div>
</footer>
