:root {
  --card-height: 303px;
  --card-width: calc(var(--card-height) / 1.5);
  --primary-color: #b091ea;
  --secondary-color: #f8f9fa;
  --text-color: #333;
  --accent-color: #4a148c;
  --white: #ffffff;
}

.container {
  background: url("/assets/images/perfumes/perfume-26.jpg") no-repeat center
    center/cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  padding: 50px 20px;
  position: relative;

  .container-2,
  .container-3,
  .container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 40px;

    &:nth-of-type(2n) {
      margin-left: 50rem;
    }
    // &:nth-of-type(2n + 1) {
    //   color: red;
    // }

    .box {
      background: rgba(255, 255, 255, 0.2);
      width: 80%;
      //max-width: 700px;
      border-radius: 15px;
      color: var(--white);
      padding: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(10px);

      h3 {
        color: var(--white);
        font-size: 1.8rem;
        margin-bottom: 15px;
        text-align: center;
      }

      .text-wrapper {
        font-size: 1rem;
        line-height: 1.6;
        text-align: justify;

        p {
          margin: 0 0 10px;

          a {
            color: var(--white);
            font-weight: 600;
            text-decoration: underline;

            &:hover {
              color: #e1d6f9;
            }
          }
        }
      }
    }
  }

  .text-content {
    background: rgba(255, 255, 255, 0.2);
    color: var(--white);
    font-size: 1rem;
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    line-height: 1.6;
    text-align: justify;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}
