<app-not-found
  [visible]="!perfume"
  notFoundMessage="Product Not Found!"
  resetLinkText="Back To Homepage"
></app-not-found>

<div *ngIf="perfume" class="container">
  <img [src]="perfume.imageUrl" [alt]="perfume.name" />

  <div class="details">
    <div class="header">
      <span class="name">
        {{ perfume.name }}
      </span>
      <span class="favorite {{ perfume.favorite ? '' : 'not' }}"> ❤ </span>
    </div>
    <div class="tags">
      <app-tags
        [perfumePageTags]="perfume.tags"
        justifyContent="start"
      ></app-tags>
    </div>

    <div class="price">
      <span>{{ perfume.price | currency }}</span>
    </div>

    <button (click)="addToCart()">Add To Cart</button>
  </div>
</div>
