<app-search></app-search>
<app-tags></app-tags>
<app-not-found
  [visible]="!perfumes || perfumes.length <= 0"
  resetLinkText="Reset Search"
></app-not-found>
<ul>
  <li *ngFor="let perfume of perfumes">
    <a routerLink="/perfume/{{ perfume.id }}">
      <img src="{{ perfume.imageUrl }}" alt="" />
      <div class="content">
        <div class="name">
          {{ perfume.name }}
        </div>
        <span class="favorite {{ perfume.favorite ? '' : 'not' }}"> ❤ </span>
        <div class="stars">
          <!-- <star-rating
                [value]="perfume.stars"
                [totalstars]="5"
                checkedcolor="red"
                uncheckedcolor="black"
                size="20px"
                [readonly]="true">
               </star-rating> -->
        </div>
        <div class="price">
          <span>
            {{ perfume.price | currency }}
          </span>
        </div>
      </div>
    </a>
  </li>
</ul>
